// section-home
.section-home {
  padding-top: 24px;
  overflow: hidden;
  @include media($lg) {
    padding-top: 0;
    padding-bottom: 175px;
  }
  // .section-home__container
  & .container-fluid {
    @include media($lg) {
      padding: 0;
    }
  }
  &__body {
    border-radius: 60px;
    border: 1px solid var(--5);
    background: var(--6);
    background-image: url("../img/index/home-bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 1166px;
    position: relative;
    overflow: hidden;
    padding: 80px calc(var(--container-padding) / 2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    isolation: isolate;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 297px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.1) 100%
      );
      backdrop-filter: blur(10px);
      z-index: -1;
      @include media($vl) {
        height: 530px;
      }
      @include media($lg) {
        content: none;
      }
    }
    @include media($lg) {
      min-height: calc(709px - var(--header-height));
      padding: 56px calc(var(--container-padding) / 2);
      overflow: visible;
      border-radius: 0;
    }
    @include media($md) {
      gap: 24px;
    }
  }
  // .section-home__actions
  &__actions {
  }
  // .section-home__title
  &__title {
    margin-bottom: 8px;
    max-width: 1230px;
    @include media($md) {
      margin-bottom: 0;
      order: 1;
    }
  }
  // .section-home__sub-title
  &__sub-title {
    color: #757575;
    max-width: 783px;
    font-weight: 400;
    @include media($md) {
      order: 2;
    }
  }
  // .section-home__advantages
  &__advantages {
  }
  & .btn {
    margin-top: 36px;
    @include media($md) {
      margin-top: 24px;
      width: fit-content;
      order: 4;
    }
  }
}
.home-actions {
  @include media($md) {
    order: 3;
    // animation: marquee 30s linear infinite;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 4px;
  }

  // .home-actions__list
  &__list {
    display: flex;
    align-items: center;
    gap: 4px;
    @include media($md) {
      animation: scroll 10s linear infinite;
    }
  }
  // .home-actions__item
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px 10px 16px;
    border-radius: 40px;
    background: var(--4);
    flex-shrink: 0;
  }
  // .home-actions__icon
  &__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
  // .home-actions__text
  &__text {
  }
  &__body {
    flex-shrink: 0;
    &:last-child {
      display: none;
      @include media($md) {
        display: block;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.home-advantages {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 417px;
  gap: 12px;
  @include media($lg) {
    grid-template-columns: 100%;
    gap: 24px;
    margin: 0 calc(var(--container-padding) / 2 * -1);
    padding: 0;
    position: absolute;
    top: calc(100% - 22px);
    width: 100%;
  }

  // .home-advantages__list
  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    @include media($vl) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media($lg) {
      display: flex;
      flex-wrap: nowrap;
      gap: 8px;
      overflow-y: hidden;
      overflow-x: auto;
      @include no-scroll();
    }
  }
  // .home-advantages__item
  &__item {
    border-radius: 30px;
    background: var(--6);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
    min-height: 217px;
    padding: 28px;
    max-width: 212px;
    flex-shrink: 0;
    @include media($lg) {
      box-shadow: none;
      width: 200px;
      flex-shrink: 0;
      border-radius: 20px;
      min-height: 122px;
      padding: 19px;
      &:first-child {
        margin-left: calc(var(--container-padding) / 2);
      }
      &:last-child {
        margin-right: calc(var(--container-padding) / 2);
      }
    }
  }
  // .home-advantages__item-title
  &__item-title {
  }
  // .home-advantages__item-text
  &__item-text {
    color: $grey;
  }
  // .home-advantages__btn
  &__btn {
    border-radius: 30px;
    background: var(--1);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    color: $white;
    min-height: 51px;
    transition: background-color 0.3s;
    @include hover {
      background-color: $black2;
    }
    @include media($lg) {
      margin: 0 calc(var(--container-padding) / 2);
    }
  }
}

// section-navigation
.section-navigation {
  // .section-navigation__body
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @include media($lg) {
      grid-template-columns: 100%;
      gap: 16px;
    }
  }
}

.navigation-card {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  min-height: 306px;
  padding: 36px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
  @include media($md) {
    padding: 24px;
    min-height: 310px;
    border-radius: 20px;
  }
  // .navigation-card__title
  &__title {
    max-width: 50%;
  }
  // .navigation-card__text
  &__text {
    color: $grey;
    max-width: 57%;
    @include media($md) {
      max-width: 100%;
    }
  }
  // .navigation-card__link
  &__link {
    margin-top: auto;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
    }
  }
  &--catalog {
    background-color: $yellow2;
    background-image: url("../img/index/nav-catalog-img.png");
    @include media($md) {
      background-image: url("../img/index/nav-catalog-img-mob.png");
    }
  }
  &--services {
    background-color: var(--6);
    background-image: url("../img/index/nav-services-img.png");
    & .navigation-card__text {
      max-width: 70%;
      @include media($md) {
        max-width: 100%;
      }
    }
    @include media($md) {
      background-image: url("../img/index/nav-service-img-mob.png");
    }
  }
  &--faq {
    background-color: var(--6);
    background-image: url("../img/index/nav-faq-img.png");
    @include media($md) {
      background-image: url("../img/index/nav-faq-img-mob.png");
    }
  }
  &--projects {
    background-color: $blue4;
    background-image: url("../img/index/nav-projects-img.png");
    @include media($md) {
      background-image: url("../img/index/nav-projects-img-mob.png");
    }
  }
}

.our-clients {
  text-align: center;
  overflow: hidden;
  & .section-heading {
    display: flex;
    justify-content: center;
  }
  & .swiper-slide {
    width: fit-content;
    aspect-ratio: 1;
  }
  &__marquee-wrap {
    display: flex;
    gap: 30px;
    @include media($lg) {
      gap: 16px;
    }
    @include media($md) {
      gap: 8px;
    }
  }
  // .our-clients__marquee
  &__marquee {
    display: flex;
    gap: 30px;
    animation: marquee 30s linear infinite;
    @include media($lg) {
      gap: 16px;
    }
    @include media($md) {
      gap: 8px;
    }
  }
  &__marquee-body {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    @include media($lg) {
      gap: 16px;
    }
    @include media($md) {
      gap: 8px;
    }
  }
  // .our-clients__image
  &__image {
    width: 305px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 30px;
    background: $grey6;
    mask-position: center;
    mask-repeat: no-repeat;
    padding: 12px;
    & img {
      max-width: 183px;
      max-height: 92px;
      @include media($md) {
        max-width: 100%;
      }
    }
    @include media($lg) {
      width: 205px;
    }
    @include media($md) {
      width: 120px;
      aspect-ratio: 120 / 180;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

// realize
.realize-projects {
  & .section-heading {
    display: flex;
    justify-content: space-between;
    gap: 16px 20px;
    align-items: center;
    @include media($md) {
      margin-bottom: 32px;
      flex-direction: column;
    }
  }
  & .slider-controls {
    @include media($md) {
      gap: 20px;
    }
  }
  &__item {
    color: $black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 30px;
    overflow: hidden;
    & .btn-arrow {
      margin-top: auto;
    }
    @include media($md) {
      grid-template-columns: 100%;
    }
  }
  &__image {
    padding-bottom: calc(438 / 655 * 100%);
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 36px;
    background-color: $grey6;
    @include media($md) {
      padding: 24px;
    }
  }
  &__caption {
    @include media($md) {
      font-size: 18px;
      line-height: 120%;
    }
  }
  &__details {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }
  &__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    min-height: 26px;
    color: $grey2;
    border-radius: 20px;
    border: 1px solid $grey4;
  }
  &__text {
    color: $grey;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    & p {
      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
    @include media($md) {
      margin: 8px 0 20px;
      -webkit-line-clamp: 4;
    }
  }
  &__btn {
    margin: 48px auto 0;
    @include media($md) {
      margin: 32px auto 0;
    }
  }
}

// industries
.industries {
  overflow: hidden;
  & .section-heading {
    display: flex;
    justify-content: center;
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include media($vl) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media($lg) {
      gap: 16px;
    }
    @include media($md) {
      gap: 8px;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      margin-right: calc(var(--container-padding) / 2 * -1);
      margin-left: calc(var(--container-padding) / 2 * -1);
      padding-right: calc(var(--container-padding) / 2);
      padding-left: calc(var(--container-padding) / 2);
      @include no-scroll();
    }
  }
}

.industries-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 36px;
  border-radius: 30px;
  overflow: hidden;
  aspect-ratio: 417 / 473;
  background-repeat: no-repeat;
  background-position: right bottom;
  transition: background-color 0.3s;
  position: relative;
  @include hover {
    cursor: pointer;
    background-color: $grey6;
  }
  @include media($md) {
    flex-shrink: 0;
    aspect-ratio: 280 / 360;
    max-height: 360px;
    padding: 24px;
    border-radius: 20px;
    gap: 8px;
    background-size: 100% auto;
  }
  &__title {
  }
  &__sub-title {
    color: $grey;
  }
  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    & img {
      object-position: right bottom;
    }
  }

  &--commerce {
    background-color: $yellow2;
    background-image: url("../img/index/industries-commerce-img.png");
    @include media($md) {
      background-image: url("../img/index/industries-commerce-img-mob.png");
    }
  }
  &--street {
    background-color: $grey6;
    background-image: url("../img/index/industries-street-img.png");
    @include media($md) {
      background-image: url("../img/index/industries-street-img-mob.png");
    }
  }
  &--manufacture {
    background-color: $grey6;
    background-image: url("../img/index/industries-manufacture-img.png");
    @include media($md) {
    }
  }
  &--government {
    background-color: $grey6;
    background-image: url("../img/index/industries-government-img.png");
    @include media($md) {
    }
  }
  &--architecture {
    background-color: $grey6;
    background-image: url("../img/index/industries-architecture-img.png");
    @include media($md) {
    }
  }
  &--sport {
    background-color: $blue4;
    background-image: url("../img/index/industries-sport-img.png");
    @include media($md) {
      background-image: url("../img/index/industries-sport-img-mob.png");
    }
  }
}

// why-choose-us
.why-choose-us {
  overflow: hidden;
  & .section-heading {
    display: flex;
    justify-content: center;
    @include media($md) {
      justify-content: flex-start;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 76px 30px;
    @include media($md) {
      grid-template-columns: 100%;
    }
  }
  &__advantages {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include media($md) {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 8px;
      overflow-y: hidden;
      overflow-x: auto;
      margin-right: calc(var(--container-padding) / 2 * -1);
      margin-left: calc(var(--container-padding) / 2 * -1);
      padding-right: calc(var(--container-padding) / 2);
      padding-left: calc(var(--container-padding) / 2);
      @include no-scroll();
    }
  }
  &__advantage {
    padding: 36px;
    border-radius: 30px;
    background-color: $grey6;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include media($md) {
      flex-shrink: 0;
      width: 280px;
      padding: 20px;
      border-radius: 20px;
    }
    &--1 &-icon {
      background-image: url("../img/index/why-choose-icon-1.svg");
    }
    &--2 &-icon {
      background-image: url("../img/index/why-choose-icon-2.svg");
    }
    &--3 &-icon {
      background-image: url("../img/index/why-choose-icon-3.svg");
    }
  }
  &__advantage-icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    margin-bottom: 36px;
    @include media($md) {
      margin-bottom: 28px;
    }
  }
  &__advantage-title {
    @include media($md) {
      font-size: 18px;
      line-height: 120%;
    }
  }
  &__advantage-text {
    color: $grey;
  }
  &__main {
    border-radius: 30px;
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    padding: 36px;
    position: relative;
    background-image: url("../img/index/why-choose-lum.png");
    background-repeat: no-repeat;
    background-position: center top;
    isolation: isolate;
    overflow: hidden;
    @include media($md) {
      background-image: url("../img/index/why-choose-lum-mob.png");
      background-position: center top;
      height: 497px;
      padding: 24px;
      gap: 8px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% - 70px);
      background-image: url("../img/index/subtract.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;
      z-index: -1;
      pointer-events: none;
      @include media($md) {
        background-image: url("../img/index/subtract-mobile.svg");
        background-position: center bottom;
        height: calc(100% - 230px);
        filter: blur(49.70000076293945px);
      }
    }
  }
  &__main-title {
    color: $white;
  }
  &__main-text {
    color: $grey3;
    margin-bottom: 36px;
    @include media($md) {
      margin-bottom: 16px;
    }
  }
}
