@mixin hover {
  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin media($width, $type: "max") {
  @if $type == "max" {
    @media screen and (max-width: $width) {
      @content;
    }
  } @else if $type == "min" {
    @media screen and (min-width: $width) {
      @content;
    }
  } @else {
    @error "Второй аргумент должен быть 'max' или 'min' либо вовсе отсутствовать";
  }
}

@mixin no-scroll() {
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin scrollbar {
  // Для Firefox
  scrollbar-width: thin;
  scrollbar-color: $grey2 transparent;
  // Для WebKit
  &::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $grey2;
    cursor: pointer;
    border-radius: 20px;
  }
}
